@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');


.syne-400 {
  font-family: "Syne", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.syne-500 {
  font-family: "Syne", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.syne-600 {
  font-family: "Syne", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.syne-700 {
  font-family: "Syne", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.syne-800 {
  font-family: "Syne", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}