@tailwind base;
@tailwind components;
@tailwind utilities;

.button-style {
    @apply text-black bg-white border border-black hover:text-pink-600 font-medium text-sm px-5 py-2.5
}

.button-style-no-p {
    @apply text-black bg-white border border-black hover:text-pink-600 font-medium text-sm
}

/* Source: Kodansha landing page */
@media screen and (min-width: 768px) {
    .hero {
        position: absolute;
        bottom: -40px;
        left: max((100% - 1400px) / 2, 50% - 50vw + 80px);
        min-width: 600px;
        max-width: min(800px, 100vw - 160px);
        padding: 30px 20px;
        border: 2px solid #000;
    }
}

.hero-poster img {
    vertical-align: middle;
    border-style: none;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}