.rightmostItem {
  @apply absolute left-1/2 transform -translate-x-1/2;
}
@media (max-width: 1280px) {
  .rightmostItem {
    right: 0;
    left: auto;
    transform: translateX(9%);
  }
}

.item {
  @apply absolute left-1/2 transform -translate-x-1/2;
}
